[submodule "vanilla/links-card"]
	path = vanilla/links-card
	url = https://github.com/Greeshma2903/links-card
[submodule "react/react-shopping-cart"]
	path = react/react-shopping-cart
	url = https://github.com/Greeshma2903/react-shopping-cart
[submodule "vanilla/prook"]
	path = vanilla/prook
	url = https://github.com/Greeshma2903/Prook
[submodule "django/studentmarkscrud"]
	path = django/studentmarkscrud
	url = https://github.com/TheInspiredConjurer/StudentMarksCRUD
[submodule "android/gitcheatfinder"]
	path = android/gitcheatfinder
	url = https://github.com/aritra-tech/GitCheatFinder
[submodule "node/blogging-website"]
	path = node/blogging-website
	url = https://github.com/Yashkapure06/Blogging-Website
[submodule "rust/fileport"]
	path = rust/fileport
	url = https://github.com/Shridhar-dev/fileport
[submodule "react/poke-api"]
	path = react/poke-api
	url = https://github.com/swaroopRajwal/poke-api
[submodule "react/visualizer"]
	path = react/visualizer
	url = https://github.com/swaroopRajwal/visualizer
[submodule "react/octoprofile"]
	path = react/octoprofile
	url = https://github.com/swaroopRajwal/octoprofile
[submodule "react/microsoft-clonne"]
	path = react/microsoft-clonne
	url = https://github.com/Mahich123/microsoft-clonne
[submodule "react/recipe-app"]
	path = react/recipe-app
	url = https://github.com/Mahich123/Recipe-app
[submodule "vanilla/sneakyy"]
	path = vanilla/sneakyy
	url = https://github.com/sakshamgurbhele/sneakyy
