[submodule "vanilla/links-card"]
	path = vanilla/links-card
	url = https://github.com/Greeshma2903/links-card
[submodule "react/react-shopping-cart"]
	path = react/react-shopping-cart
	url = https://github.com/Greeshma2903/react-shopping-cart
[submodule "vanilla/prook"]
	path = vanilla/prook
	url = https://github.com/Greeshma2903/Prook
[submodule "django/studentmarkscrud"]
	path = django/studentmarkscrud
	url = https://github.com/TheInspiredConjurer/StudentMarksCRUD
[submodule "android/gitcheatfinder"]
	path = android/gitcheatfinder
	url = https://github.com/aritra-tech/GitCheatFinder
[submodule "node/blogging-website"]
	path = node/blogging-website
	url = https://github.com/Yashkapure06/Blogging-Website
[submodule "rust/fileport"]
	path = rust/fileport
	url = https://github.com/Shridhar-dev/fileport
